
.card_container{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.card_container h4{
    background-color: #222;
    color: #ffbb33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.card_container p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.card_container p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .infra{
    background-color: #ffaebc;
}

.category_text .desenvolvimento{
    background-color: #a0e7e5;
}

.category_text .design{
    background-color: #b4f8c8;
}

.category_text .planejamento{
    background-color: #fbe7c6;
}

.card_container_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.card_container_actions a,
.card_container_actions button{
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.card_container_actions svg {
    margin-right: .5em;
}

.card_container_actions a:hover, 
.card_container_actions button:hover{
    background-color: #222;
    color: #ffbb33;
}